body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.max-width-25 {
    max-width: 280px;
    min-width: 280px;
}
h1 {
    color: #141e61;
    font-weight: 500;
}
.dash {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/../img/mountain2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.full {
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    font-weight: 600;
}
.list-group-item {
    padding: 0;
}
.dash-up {
    margin: 0.3rem 1rem 0.5rem 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #141e61;
}
li {
    padding: 0;
}
li a {
    display: block;
    color: #141e61;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem 1.5rem;
}

a:hover {
    color: #141e61;
}
.dash-up:hover {
    background-color: rgba(0, 0, 0, 0.151);
}
.dash-up i {
    font-size: 1.5rem;
}

.dash-up.active {
    background-color: #141e61d2;
    box-shadow: 0 0 25px rgb(92, 91, 91);
}

.dash-up.active a {
    color: #fff;
}

.non-color {
    background-color: rgb(255, 255, 255) !important;
    padding-top: 0.5rem;
}

input[type="checkbox"] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}
